<h1>Users</h1>

    <form class="post-form" (submit)="createUser({id:newId.value,name: newName.value,username:newUserName.value})">
        <input #newId type="text" name="id" placeholder="Id" required>
        <input #newName type="text" name="name" placeholder="Name" required>
        <input #newUserName type="text" name="username" placeholder="Username" required>
        <input class="btn btn-primary btn-success btn-sm" type="submit" value="Add User">
    </form>

<form *ngIf="editForm" class="post-form" (submit)="updateUser({id:selectedId.value,name: selectedName.value,username:selectedUserName.value})">
    <input #selectedId type="text" name="id" placeholder="Id" required value="{{selectedUser.id}}">
    <input #selectedName type="text" name="name" placeholder="Name" required value="{{selectedUser.name}}">
    <input #selectedUserName type="text" name="username" placeholder="Username" required value="{{selectedUser.username}}">
    <input class="btn btn-primary btn-sm" type="submit" value="Update User">
</form>


<table class="table">
        <thead >
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>User Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr >

                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>
                    <span><button class="btn btn-primary btn-sm"
                        (click)="edit(user)">Edit</button></span>
                    <span><button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Delete</button></span>
                </td>

            </tr>
        </tbody>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
